if url
  .file
    .icon
      img(src=icon)
    .info
      .name=name
      .size=size
    .buttons
      a.download(href=url)
        i.bts.bt-cloud-download
      a.copy(data-clipboard-text=url)
        i.bts.bt-cut
else
  .file.uploading
    .icon
      img(src=icon)
    .info
      .name=name
      .progress_bar
        .fill